@charset "UTF-8";
.artist-and-tags {
  padding-bottom: 1rem;
}

.artist-box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding-bottom: 1rem;
}

.artist-img-box {
  margin: 0 0.5rem;
  width: 9.25rem;
  height: 11.5rem;
  overflow: hidden;
}

.artist-img {
  height: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.artist-intro-box {
  flex: 1;
  padding: 0.5rem 0 0.5rem 1.3rem;
}

.artist-name {
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

.artist-honors {
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.honor {}

.visit-number-box {
  font-size: 1rem;
  padding: 0.5rem 0;
}
