.video-title {
  width: 100%;
  line-height: 5rem;
  background-color: #E8E8E8;
  text-align: center;
  font-weight: 600;
}

.video-box {
  color: #000;
  font-weight: 600;
}

.correlation-video {
  padding-left: 0;
  font-size: 1.4rem;
  color: #888;
  font-weight: normal;
  margin-top: 1rem;
  border-top: 1px solid #d8d8d8;
  padding-top: 1rem;
}

.corr-video-item {
  line-height: 4rem;
  background: #E8E8E8;
  color: #4E4E4E;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.comment {
  border-bottom: 1px solid rgb(200, 199, 204);
  /*padding-top: 1rem;*/
  /*padding-right: 1rem;*/
  padding: 1rem 2rem;
  position: relative;
}

.user-info-box {
  padding-right: 3rem;
}

.me-upvoted {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  position: absolute;
  right: 2rem;
  top: 1rem;
}

.container-theme-night {
  background: #c1c1c1;
  color: #989898;
}

.video-box-night {
  color: #989898;
  background: #1c1c1c;
}

.video-title-night {
  background-color: #1c1c1c;
  color: #989898;
}
