<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>中国国家画院</string>
	<string>创作研究部</string>
	<string>国画院</string>
	<string>书法篆刻院</string>
	<string>油画院</string>
	<string>版画院</string>
	<string>雕塑院</string>
	<string>美术研究院</string>
	<string>公共艺术院</string>
	<string>青年油画院</string>
</array>
</plist>
